@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;

  background: linear-gradient(135deg, #e0f7fa, #fffde7);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96cad0;
  padding: 20px;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom-style: groove;
  background: linear-gradient(135deg, #ffffff, #00d2ff,#ffffff);
}

header .logo {
  width: 110px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
header .logo img
{
  width: 100%;

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}

li.menu_list {
  height: 50px;
  width: 85px;
  position: relative;
  text-align: center;
}

li.menu_list .front,
a.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

li.menu_list .front {

  color: #060e3d96;
  transform-origin: 0 0;
  font-size: 20px;
  font-weight: 600;
}

a.side {
  background-color: rgb(61, 171, 215);
  color: #030929d7;
  transform-origin: 0 0 85px;
  transform: rotateY(-90deg);
  font-size: 11px;
  font-weight: 700;
  border-radius: 50%;
}

li.menu_list:hover a.side {
  transform: rotateY(0deg);
}

li.menu_list:hover .front {
  transform: rotateY(90deg);
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 20px;
  color: #060e3d96;
  cursor: pointer;
}

.nav-menu-icon
{
  display: none;
}

/* SLIDER */
.video-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;
  max-width: 1200px;
}

.slider-video {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* ABOUT US */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  min-height: 100vh;
}

.content {
  padding-left: 120px;
  color: #c7c7c7c9;
  user-select: none;
}

.content h1 {
  font-family: "Dancing Script", cursive;
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f76591, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.8;
  margin-bottom: 30px;
  padding-left: 10px;
  margin-top: 20px;
}

.content p {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  line-height: 1;
  padding-right: 100px;
  color: #030929d7;
  font-weight: 550;

}

.btn {
  background-color: #f76591;
  background-image: linear-gradient(-180deg, #ffc16f, #f76591);
  font-size: clamp(0.8rem, 8vw, 0.9rem);
  font-weight: 600;
  color: #fff;
  width: max-content;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-top: 26px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s ease-in;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}

.btn:hover {
  box-shadow: 0 4px 10px rgba(247, 101, 145, 0.5);
  transform: scale(0.98);
}

/* Stacked Cards */
.stack {
  position: relative;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
    0 15px 20px 0 rgba(0, 0, 0, 0.125);
  transition: transform 0.6s;
  user-select: none;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  pointer-events: none;
}

.card:nth-last-child(n + 5) {
  --x: calc(-50% + 90px);
  transform: translate(var(--x), -50%) scale(0.85);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
}

.card:nth-last-child(4) {
  --x: calc(-50% + 60px);
  transform: translate(var(--x), -50%) scale(0.9);
}

.card:nth-last-child(3) {
  --x: calc(-50% + 30px);
  transform: translate(var(--x), -50%) scale(0.95);
}

.card:nth-last-child(2) {
  --x: calc(-50%);
  transform: translate(var(--x), -50%) scale(1);
}

.card:nth-last-child(1) {
  --x: calc(-50% - 30px);
  transform: translate(var(--x), -50%) scale(1.05);
}

.card:nth-last-child(1) img {
  box-shadow: 0 1px 5px 5px rgba(255, 193, 111, 0.5);
}

.swap {
  animation: swap 1.3s ease-out forwards;
}

@keyframes swap {
  30% {
    transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
  }

  100% {
    transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
    z-index: -1;
  }
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
  .content {
    padding-left: 80px;
  }

  .card {
    width: 250px;
    height: 380px;
  }
}

@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 0 50px;
  }
}

@media (max-width: 650px) {
  main {
    grid-template-rows: 1fr 1fr;
  }

  .content h1 {
    padding-left: 0;
  }

  .card {
    width: 180px;
    height: 260px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#catalog {
  max-width: 1200px;
  margin: 0 auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
  /* background: linear-gradient(135deg, #ffffff, #e6f7ff); */
  color: #030929d7;
  
}

input,
select,
button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #030929d7;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0896a7;
}

.search-filter-area{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.trip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* For mobile screens, display one column per row */
@media screen and (max-width: 768px) {
  .trip-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .trip-grid {
    grid-template-columns: 1fr;
  }
}
.trip-item {
  
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-item:hover {

  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #fffde7);

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.trip-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.trip-item:hover img {
  transform: scale(1.05);
}

.trip-item h3 {
  margin: 10px;
  font-size: 1.5em;
  color: #0fa8b9;
}

.trip-item p {
  margin: 10px;
  font-size: 1em;
}

.trip-item ul {
  margin: 10px;
  padding-left: 20px;
  list-style-type: none;
}

.trip-item ul li {
  margin-bottom: 8px;
  font-size: 0.9em;
}



/* trip catalog */
/* #trip-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}


.trip-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 0 8px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.trip-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.trip-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;

}


.trip-item h3 {
  margin: 12px 0;
  font-size: 1.2em;
  color: #030929d7;
  font-family: 'Arial', sans-serif;
}

.trip-item p {
  margin: 8px 0;
  color: #030929d7;
  font-family: 'Arial', sans-serif;
}

.trip-item ul {
  list-style: none;
  padding: 0;
}

.trip-item ul li {
  margin: 4px 0;
  color: #030929d7;
} */



/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close-btn {
  color: #030929d7;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.services-section {
  text-align: center;
  padding: 50px;

  background: linear-gradient(135deg, #e0f7fa, #fffde7);
  color: #030929d7;
}

.services-section h3 {
  color: #030929d7;
  font-size: 22px;
  margin-bottom: 10px;
}

.services-section h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #030929d7;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.service-box {
  background: linear-gradient(135deg, #e0f7fa, #fffde7);
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.4s ease;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-box:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, rgba(127, 144, 148, 0.2), rgba(255, 255, 255, 0.8));
  /* Slightly stronger gradient on hover */
}

.service-box i {
  font-size: 50px;
  color: #e0f7fa;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.service-box h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: rgb(55, 54, 54);
  text-transform: uppercase;
}

.service-box p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.service-box i:hover {
  color: #ffffff;
}


.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}


.globe {
  background-image: url(images/vector-sign-of-globe-icon-removebg-preview.png);
}

.adventure {
  background-image: url(images/Adventure-01-1024.webp);
}

.food {
  background-image: url(images/OIP-removebg-preview.png);
}

.hotel {
  background-image: url(images/OIP__1_-removebg-preview.png);
}

.price {
  background-image: url(images/OIP__2_-removebg-preview.png);
}

.service {
  background-image: url(images/OIP__3_-removebg-preview.png);
}


.service-box:hover {
  animation: pulse 0.5s ease-in-out;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* service section */
.services-section {
  text-align: center;
  padding: 50px;
  background: linear-gradient(135deg, #00d2ff, #ffffff);
  /* Light blue to white gradient */
  color: #333;
}

.services-section h3 {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

.services-section h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.service-box {
  background: linear-gradient(135deg, rgba(0, 210, 255, 0.1), rgba(255, 255, 255, 0.6));
  
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.4s ease;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-box:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, rgba(0, 210, 255, 0.2), rgba(255, 255, 255, 0.8));
 
}

.service-box i {
  font-size: 50px;
  color: #116577;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.service-box h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: rgb(55, 54, 54);
  text-transform: uppercase;
}

.service-box p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.service-box i:hover {
  color: #ffffff;
}


.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}


.globe {
  background-image: url(images/vector-sign-of-globe-icon-removebg-preview.png);
}

.adventure {
  background-image: url(images/Adventure-01-1024.webp);
}

.food {
  background-image: url(images/OIP-removebg-preview.png);
}

.hotel {
  background-image: url(images/OIP__1_-removebg-preview.png);
}

.price {
  background-image: url(images/OIP__2_-removebg-preview.png);
}

.service {
  background-image: url(images/OIP__3_-removebg-preview.png);
}


.service-box:hover {
  animation: pulse 0.5s ease-in-out;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* FOOTER */

footer {
  
  color: #060e3d96;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
  border-top: 6px solid #d8f6f3; 
  background: linear-gradient(135deg, #ffffff, #00d2ff,#ffffff);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  align-items: start;
  justify-items: center;
}

.footer-column {
  text-align: left;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 25px;
  color: #060e3d96;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
  font-size: 15px;
  color: #060e3d96;
  font-weight: 600;
}

.footer-column ul li i {
  margin-right: 10px;
  color: #060e3d96;

}
.logo-section img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}


.subscribe-section {
  text-align: center;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
  justify-content: center;
 
}

.subscribe-form input[type="text"] {
  padding: 10px 15px;
  font-size: 14px;
  border: 2px solid #5a6773;
  background: linear-gradient(135deg, #ffffff, #00d2ff);
  color: #060e3d96;
  border-radius: 10px;
  outline: none;
  border-radius: 10px;
}

.subscribe-form button {
  padding: 10px 20px;
  font-size: 14px;
  background-color:#060e3d96;
  
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #05ccf9;
  transform: translateY(-2px);
}

.footer-icons {
  display: flex;

  justify-content: center; 
  gap: 60px;

 
}

.footer-icons a {
  font-size: 16px;
  color: #060e3d96;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 110px;
  
  height: 60px;
  border-radius: 50%;
  background-color: #7fd5e360; 
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.footer-icons a i {
margin-right: 10px;
  font-size: 20px;
  color: #060e3d96;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 700;

}

.bottom-bar{
  background: linear-gradient(135deg, #ffffff, #b6f2ff, #ffffff);
}
.footer-icons a:hover {
  background-color: #e5fcf9; 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  transform: translateY(-3px); 
}

.footer-icons a:hover i {
  color: #060e3d96; 
  transform: scale(1.2); 
}


.footer-text {
  text-align: center; 
  font-weight: 700;
  color: #060e3d96;
  margin-top: 20px;
  font-size: 14px;
  padding-top: 15px;
  border-top: 1px solid #4f5b66;
}


.container-footer {
  height:auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
 
}

/* Responsive Layout */
@media (max-width: 768px) {
  .footer-icons {
      flex-wrap: wrap; 
      justify-content: center; 
  }
}




/* TRANSPORT */
.transport-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.transport-box {
  background: linear-gradient(135deg, #ffffff, #e6f7ff);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
}

.transport-box h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.7em;
  display: flex;
  align-items: center;
}

.transport-box h3 i {
  margin-right: 10px;
  color: #00aaff;
  font-size: 1.5em;
}

.transport-box p {
  margin: 5px 0;
  color: #444;
  font-size: 1.1em;
}

.transport-box:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #fffde7);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DISCOUNT OFFERS */
.containerr {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.sidebar {

  width: 20%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  transition: box-shadow 0.3s ease;
}

.sidebar:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #1e90ff;
  /* border-bottom: 2px solid #1e90ff; */
  padding-bottom: 5px;
}

.filter-group {
  margin-bottom: 15px;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2);
}

.content {
  width: 75%;
}

.package {
  background: linear-gradient(135deg, #ffffff, #e6f7ff);
  display: flex;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
}

.package:hover {

  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #fffde7);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.image {
  width: 40%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image:hover img {
  transform: scale(1.05);
}

.popular,
.deal {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.popular {
  background-color: #1e90ff;
}

.deal {
  background-color: #FF6347;
}

.details {
  width: 60%;
  padding-left: 20px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

h4 {
  margin: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.features span {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.features span:hover {
  background-color: #53b2ff;
}

.price {
  font-size: 18px;
  color: #b22222;
}

.price del {
  color: #888;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #4682b4;
  transform: translateY(-3px);
}

/* Container for Tabs */
.tabs-container {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  color: #030929d7;
}

/* Tab Buttons */
.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  padding: 15px;
  border: none;
  background-color: #f1f1f1;
  color: #030929d7;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 3px solid transparent;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #fff;
  color: #007bff;
  border-bottom: 3px solid #007bff;
  font-weight: bold;
}

/* Tab Content */
.tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease;
}

.tab-pane {
  display: none;
  opacity: 0;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tabs-button {
    font-size: 14px;
    padding: 10px;
  }

  .tab-content {
    padding: 15px;
  }
}

/* culture */

.country-grid {
  width: 900px;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.culture-tab
{
  background-color: white;
  position: relative;
  left: 120px;
  width: 930px;
}


.country-card {
  background: linear-gradient(135deg, #ffffff, #e6f7ff);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
}


.country-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}


.country-card h3 {
  margin-bottom: 10px;
  color: #030929d7;
  font-size: 1.7em;
}


.country-card p {
  color: #030929d7;
  font-size: 1.1em;
  line-height: 1.5em;
}


.country-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #fffde7);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FEEDBACK */
.feedback-container {
  background: linear-gradient(135deg, #ffffff, #e6f7ff);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-bottom: 5%;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
}

.feedback-container:hover {

  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #fffde7);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

/* Feedback Section */
h2
{
  font-size: 2.4rem;
  font-family: "Lexend Deca Light" , serif;
  text-align: center;
}

p,a
{
  font-size: 1.7rem;
}
.feedback-section1:hover{
  transition : translateY(-10px) scale(1.05);
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
   background: linear-gradient(135deg, #e0f7fa, #fffde7);
   
 }
 @keyframes fadeIn {
   0% {
     opacity: 0;
     transform: translateY(30px);
   }
 
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }
 .feedback-section1
{
  cursor: pointer;
  padding: 3rem ;
  background: linear-gradient(135deg, #ffffff, #e6f7ff);
  
 /* box-shadow: rgb(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3.2rem;
  height: 100vh;
  display: grid;
}  */
  

.rating
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.2rem;
  margin: 4.8rem 0 3.2rem 0;
}

:is(.unhappy, .happy, .satisfied) h3
{
  text-align: center;
}
:is(.unhappy, .happy, .satisfied  ) p:first-child
{
 background-color: #d6f4fd;
 border-radius: 1rem;
 font-size: 5.6rem;
 padding: 1.6rem 2.4rem;
 cursor: pointer;
 margin-bottom: 1.2rem;
 transition: all .3s linear;
}

:is(.unhappy, .happy, .satisfied) p:first-child:hover
{
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px rgb(51, 51, 51) 0px 0px 0px 2px;
}

.feedback-btn .fdbtn, a
{
  padding: 1.2rem 3.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #20262E;
  color: #fff;
  font-size: 1.8rem;
  border-radius: .5rem;
  display: inline-block;
  text-decoration: none;
  font-family: "Lexend Deca Light", serif;
}

.feedback-btn
{
width: 100%;
text-align: center;
} 

.active
{
scale: 1.05;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
border-radius: .6rem;
}

.response-screen
{
text-align: center;
}

.response-screen h3{
margin: 1.2rem 0 3.2rem 0;
font-size: 1.4rem;
}

.response-screen .feedback-button{
margin-top: 3.2rem;
}